<div
  class="bgimg w3-display-container w3-animate-opacity w3-text-white"
  style="background-image: url(./assets/566264.jpg);"
>
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Korat Travel
  </div>
  <div class="w3-display-middle md-content">
    <h1 class="w3-animate-top">สถานที่ท่องเที่ยวจังหวัดนครราชสีมา</h1>
    <br />
    <hr class="w3-border-grey" style="margin:auto;width:40%" />
    <br />
    <h5 class="w3-center">
      <a [routerLink]="['/home']">เข้าสู่เว็บไซต์</a>
    </h5>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by
    <a href="https://angular.io/" target="_blank">Angular Framework</a>
  </div>
</div>
